.container {
    width: 100%;
    box-sizing: border-box;
}

.Trip-container {
    font-family: sans-serif;
    text-align: left;
}
.titleTrip{
    font-size: 23px;

}

.trip-button{
    display: flex;
    justify-content: flex-end;
    margin-bottom: 10px;
    margin-top: -40px;
}

.main-button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    margin-top: 20px;
}

.form-modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.form-modal-content {
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    position: relative;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    /* max-width: 900px; */
    /* Added for better width control */
    width: 100%;
    height: 100%;
    /* Ensures responsiveness on smaller screens */
    /* Added to make it a more manageable size */
    overflow-y: auto;
    /* Adds scrolling if content exceeds height */
}

.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
}

.cancel-btn{
    top: 10px;
    left: 10px;
    background: none;
    width: 100px;
    border: none;
    font-size: 16px;
    cursor: pointer;
    color: white;
    background-color: #007bff;
    padding: 5px;
    border-radius: 4px;
}